// Common Styles
@import 'variables';
@import 'mixins';

// 웹 폰트 정의
@font-face {
  font-family: $font-name;
  font-weight: normal;
  src: url('../fonts/NanumBarunGothicWeb.eot');
  src: url('../fonts/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NanumBarunGothicWeb.woff') format('woff'),
  url('../fonts/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
  font-family: $font-name;
  font-weight: bold;
  src: url('../fonts/NanumBarunGothicWebBold.eot');
  src: url('../fonts/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NanumBarunGothicWebBold.woff') format('woff'),
  url('../fonts/NanumBarunGothicWebBold.ttf') format('truetype');
}

html {
  box-sizing: border-box;
}

*, *:before, *:after, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  font-family: $font-name, 'NanumBarunGothic', 'Malgun Gothic', 'Apple SD Gothic Neo', Dotum, Arial, Helvetica, sans-serif;
  font-size: $font-size;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

button, input, textarea, select {
  font-family: inherit;
  font-size: 100%;
}

button {
  cursor: pointer;
}

body {
  background-color: $body-bg;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus, &:visited {
    color: $link-color;
    text-decoration: $link-decoration;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
  transition: background-color 5000s ease-in-out 0s;
}

#app {
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;

  + .loading {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;

    &::after {
      content: '';
      display: block;

      @include spinner(17px * 2);
    }
  }
}
