// ===================================
// 공통 변수 정의
// ===================================

//
// Fonts
//

$font-size: 12px !default;
$font-name: 'LeafWebFont' !default;

//
// Colors
//

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eaecf0 !default;
$gray-300: #dfe3ea !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: () !default;
$grays: map_merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$blue: #2481ff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #d92e3d !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$colors: () !default;
$colors: map-merge((
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800
), $colors);

//
// Theme Colors
//

$theme-base-color: $blue !default;
$theme-color: $theme-base-color !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$state-colors: () !default;
$state-colors: map-merge((
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
), $state-colors);

//
// Options
//

// Quickly modify global styling by enabling or disabling optional features.

$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

//
// Spacing
//

// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// stylelint-disable
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
), $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge((
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
), $sizes);

//
// Body
//

$body-bg: $white !default;
$body-color: $black !default;

// Links
//

$link-color: $black !default;
$link-decoration: none !default;
$link-hover-color: darken(desaturate($theme-color, 57.58), 44.12) !default;
$link-hover-decoration: none !default;

//
// Kendo UI
//
$font-family: "EnSysWebFont", "Nanum Barun Gothic", "Malgun Gothic", Dotum, Arial, Helvetica, sans-serif !default;
$line-height: (16 / 12) !default;
$accent: $theme-color !default;
$accent-contrast: $white !default;
$base-text: $body-color !default;
$base-bg: $body-bg !default;
$base-border: rgba($black, 0.15) !default;
$base-gradient: $base-bg, darken($base-bg, 2%) !default;
$hovered-text: $link-hover-color !default;
$hovered-bg: $gray-200 !default;
$hovered-border: rgba($black, 0.15) !default;
$hovered-gradient: $hovered-bg, darken($hovered-bg, 2%) !default;
$selected-text: $accent-contrast !default;
$selected-bg: $accent !default;
$selected-border: rgba($black, 1) !default;
$selected-gradient: none !default;
$error: $danger !default;

//
// Button
//
$button-height: 27px !default;
$button-font-size: $font-size + 1px;
$button-border-radius: 3px !default;
$button-color: $theme-color !default;
$button-bg: $white !default;
$button-border: lighten(adjust-hue($theme-color, -1), 27.25) !default;
$button-hover-bg: lighten(adjust-hue($theme-color, -8), 41.18) !default;
$button-hover-border: $button-border !default;
$button-focused-bg: lighten(desaturate(adjust-hue($theme-color, -1), 8.51), 33.73) !default;
$button-focused-border-color: $theme-color !default;
$button-disabled-bg: $gray-200 !default;
$button-disabled-color: $gray-500 !default;
$button-primary-color: $white !default;
$button-primary-gradient-start: lighten(adjust-hue($theme-color, 4), 12.94) !default;
$button-primary-gradient-end: lighten(adjust-hue($theme-color, 8), 8.43) !default;
$button-primary-hover-gradient-start: lighten(adjust-hue($theme-color, 10), 14.51) !default;
$button-primary-hover-gradient-end: lighten(adjust-hue($theme-color, 15), 9.80) !default;
$button-primary-focused-gradient-start: lighten(desaturate(adjust-hue($theme-color, 8), 17.00), 3.73) !default;
$button-primary-focused-gradient-end: lighten(desaturate(adjust-hue($theme-color, 8), 17.00), 3.73) !default;
$button-box-shadow: 0 1px 2px 0 rgba($black, 0.1) !default;

//
// Checkbox
//
$checkbox-size: 17px !default;
$checkbox-margin: 6px !default;
$checkbox-border: lighten(desaturate(adjust-hue($theme-color, 1), 77.08), 24.12) !default;
$checkbox-hover-border: lighten(adjust-hue($theme-color, -1), 27.25) !default;
$checkbox-hover-bg: lighten(adjust-hue($theme-color, -8), 41.18) !default;
$checkbox-checked-bg: lighten($theme-color, 3.73) !default;
$checkbox-disabled-bg: $gray-200 !default;
$checkbox-disabled-check-bg: $gray-400 !default;

//
// Dialog
//
$modal-overlay-bg: transparent;
$dialog-border-radius: 3px;
$dialog-box-shadow: 0 2px 1px rgba($black, 0.35) !default;

// -----------------------------------
// Login
// -----------------------------------
$login-icon-color: #404146 !default;
$login-icon-focus-color: lighten(desaturate(adjust-hue($theme-color, 7), 9.47), 5.69) !default;
$login-button-gradient-start: $button-primary-gradient-start !default;
$login-button-gradient-end: $button-primary-gradient-end !default;

// -----------------------------------
// Main
// -----------------------------------

$main-area-border-color: $gray-300 !default;
$main-info-bg-color: $gray-200 !default;
$main-nav-bg-color: darken(desaturate(adjust-hue($theme-color, 11), 65.26), 38.43) !default;

